* {
    box-sizing: border-box;
}

:root {
    --primary-color: #ffb900;
    --font-heading: Sen, sans-serif;
}

html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}
/*  ========common=========*/
.main-content {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
    max-width: calc(100%-48px);
}

a {
    text-decoration: none;
}
/* ======Header==== */
.header.fixed {
    position: sticky;
    z-index: 1;
    top: -50px;
}
.header .body {
    display: flex;
    padding: 57px 0 20px;
    align-items: center;
    background: #fff;
}
.header .list {
    display: flex;
    margin-left: 235px;
    gap: 39px;
}
.header .list a {
    color: #2f3a3b;
    font-size: 1.6rem;
    font-weight: 400;
}
.header .list a:hover {
    font-weight: 600;
    /* color: black; */
}
.header .sin {
    margin-left: 177px;
}
.header .btn {
    width: 108px;
    height: 48px;
    border-radius: 6px;
    border: 1px solid #1ebfc1;
    color: #1ebfc1;
    font-size: 1.6rem;
    font-weight: 600;
    background: #fff;
    margin-left: 24px;
}
/* =====Info===== */
.info {
    margin-top: 30px;
    padding: 30px 0 79px;
}
.info .body {
    display: flex;
}
.info .left {
    margin-top: 93px;
}
.info .title {
    color: #0d1111;
    font-size: 6.2rem;
    font-weight: 700;
    line-height: 1.16;
    margin-top: 18px;
}
.info .left .desc {
    color: #9da6a5;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.78;
    margin-top: 46px;
    width: 374px;
}
.info .left .btns {
    display: flex;
    margin-top: 52px;
}
.info .left .btn {
    border-radius: 14px;
    background: #1ebfc1;
    box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.05);
    width: 186px;
    height: 68px;
    border: none;

    color: #fff;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 600;
}
.info .left .pay-button {
    width: 62px;
    height: 62px;
    margin-left: 50px;
}
.info .right {
    margin-left: 71px;
    position: relative;
}
.info .right .img {
    width: 576px;
    height: 631px;
    object-fit: cover;
}
.info .right .coures-1 {
    position: absolute;
    top: 149px;
    right: 459px;
    width: 157px;
    height: 75px;
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 18px;
    background: #fefefd;
    box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
}
.info .right .coures-2 {
    width: 124px;
    height: 132px;
    border-radius: 24px;
    background: #fff;
    box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
    position: absolute;
    justify-content: center;
    display: flex;
    align-items: center;
    bottom: 46px;
    right: 517px;
}
.info .right .coures-3 {
    width: 207px;
    height: 90px;
    border-radius: 24px;
    background: #fefefd;
    box-shadow: 0px 12px 80px 0px rgba(0, 0, 0, 0.05);
    position: absolute;
    right: 45px;
    bottom: 41px;
}
.info .right .coures-3 .sub {
    margin-top: 17px;
    margin-left: 35px;
    color: #0d1111;
    font-size: 1rem;
    font-weight: 500;
}
.info .right .coures-3 .avatar-group {
    margin-top: 8px;
    margin-left: 35px;
}
.info .right .coures-3 .avatar-group .img:first-child {
    margin-left: 0;
}

.info .right .coures-3 .avatar-group .img {
    width: 33px;
    height: 33px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: -10px;
}

/* =======FEATURES======== */
.features {
    margin-top: 51px;
    padding: 51px 0;
}
.features .body {
    width: 1204px;
    /* padding: 51px 281px 130px 0px; */
}
.features .desc-top {
    color: #767e7e;
    font-size: 1.2rem;
    font-weight: 700;
}
.features .title {
    margin-top: 18px;
    color: #0d1111;
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 1.34;
    width: 577px;
}
.features .desc-title {
    color: #767e7e;
    font-size: 1.8rem;
    font-weight: 400;
    width: 590px;
    margin-top: 18px;
}
.features .info {
    display: flex;
    margin-top: 80px;
}
.features .info img {
    width: 102px;
    height: 106px;
    object-fit: cover;
}
.features .info p {
    color: #0d1111;
    font-size: 2rem;
    font-weight: 600;
    margin-top: 26px;
}
.features .info .desc {
    color: #9da6a5;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.69;
}
.features .info .discuss {
    margin-left: 209px;
}
.features .info .live-class .desc {
    width: 168px;
}
.features .info .discuss .desc {
    width: 223px;
}
.features .info .tast {
    margin-left: 200px;
}
.features .info .tast .desc {
    width: 224px;
}

/* =========COURSES======= */
.courses .desc-top {
    color: #767e7e;
    font-size: 1.2rem;
    font-weight: 700;
}
.courses .title {
    color: #0d1111;
    font-size: 4.2rem;
    font-weight: 700;
    margin-top: 18px;
}
.courses .courses-title {
    display: flex;
    align-items: center;
    justify-content: center;
}
.courses .courses-title a {
    color: #1ebfc1;
    font-size: 1.4rem;
    font-weight: 700;
    text-decoration-line: underline;
    margin-left: auto;
    align-items: center;
}
.courses .desc {
    color: #767e7e;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.78;
    margin-top: 19px;
    width: 525px;
}
.courses .imgs {
    display: flex;
    gap: 47px;
}
.courses .imgs .box {
    flex-shrink: 0;
    width: calc(33.33% - 30px);
    border-radius: 16px;
    background: #fff;
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
    display: flex;
    position: relative;
}
.courses .imgs .infos {
    width: 325px;
    height: 195px;
    position: absolute;
    background: #fff;
    width: 325px;
    height: 195px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 16px 90px 0px rgba(0, 0, 0, 0.05);
    padding: 18px 0 29px 25px;
    top: 322px;
    left: 17px;
}
.courses .box .infor .title {
    color: #0d1111;
    font-size: 2.2rem;
    font-weight: 700;
    margin-top: 18px;
}
.courses .box .infos .infor span {
    color: #767e7e;
    font-size: 1.6rem;
    font-weight: 400;
    display: block;
    margin-top: 16px;
}
.courses .box .infos strong {
    color: #0d1111;
    font-size: 2.2rem;
    font-weight: 700;
}
.courses .imgs {
    margin-top: 79px;
}
.courses .imgs .box .infos .descc {
    color: #9da6a5;
    font-size: 1.4rem;
    font-weight: 400;
    margin-top: 6px;
}
.courses .box .columnn {
    display: flex;
    margin-right: auto;
}
.courses .box .columnn .desc {
    color: #9da6a5;
    font-size: 1.4rem;
    font-weight: 400;
    display: inline-flex;
    position: relative;
    align-items: center;
    padding: 0 10px;
}
/* .courses .box .desc.p1,
.courses .box .desc.p2 {
    width: 76px;
    height: 21px;
} */
.courses .box .columnn .desc::before {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    background: #1ebfc1;
    border-radius: 50%;
    margin-right: 4px;
}
.courses .box .desc.p1 {
    left: 0;
}
.courses .box .desc.p2 {
    margin-right: 85px;
}

/* ======Number======= */
.number-3 {
    margin-top: 223px;
    padding: 93px 289px 0;
}
.number-3 .bodyy {
    display: flex;
    width: 862px;
    height: 131px;
    justify-content: center;
    align-items: center;
    gap: 202px;
}
.number-3 .mt strong {
    color: #0d1111;
    text-align: center;
    font-size: 6.2rem;
    font-weight: 700;
}
.number-3 .mt:nth-child(1) {
    margin-left: 289px;
}
.number-3 .mt p {
    margin-top: 11px;
    color: #767e7e;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 400;
    width: 153px;
}
.number-3 .mt p:last-child {
    margin-right: 10px;
}

/* ===========BLOG========== */
.blog .body {
    margin-top: 265px;
    height: 481px;
    display: flex;
}

.blog-left {
    width: 36%;
}
.blog-left .img {
    margin-top: 25px;
}
.blog .blog-left .desc-student {
    margin-top: 27px;
    color: #5d6564;
    font-size: 3.2rem;
    font-weight: 400;
    line-height: 1.5;
    width: 419px;
}
.blog .blog-left span {
    margin-top: 33px;
    color: #767e7e;
    font-size: 1.6rem;
    font-weight: 400;
    display: block;
}
.blog .blog-left strong {
    color: #070707;
    font-weight: 500;
}
.blog .blog-left .btn {
    margin-top: 52px;
}
.blog .blog-right {
    width: 64%;
    position: relative;
}
.blog .blog-right .big {
    width: 235px;
    height: 235px;
    border-radius: 235px;
    object-fit: cover;
    position: absolute;
    left: 345px;
    top: 70px;
}
.blog .blog-right .medium-1 {
    width: 110px;
    height: 110px;
    border-radius: 110px;
    position: absolute;
    right: 0;
    top: 15px;
}
.blog .blog-right .medium-2 {
    width: 92px;
    height: 92px;
    border-radius: 92px;
    object-fit: cover;
    left: 212px;
    top: 0;
    position: absolute;
}
.blog .blog-right .small {
    width: 78px;
    height: 78px;
    border-radius: 78px;
    object-fit: cover;
}
.blog .blog-right .small.small-1 {
    bottom: 150px;
    position: absolute;
    left: 72px;
}
.blog .blog-right .small.small-2 {
    position: absolute;
    bottom: 0;
    left: 284px;
}
.blog .blog-right .small.small-3 {
    position: absolute;
    bottom: 32px;
    right: 35px;
}

/* ready-admin */
.admin {
    margin-top: 130px;
    background: #def6f5;
    padding: 76px 0 88px 0;
}
.admin .body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.admin .body .left .title {
    color: #070707;
    font-size: 4.2rem;
    font-weight: 700;
}
.admin .body .left .desc {
    margin-top: 18px;
    color: #767e7e;
    font-size: 1.8rem;
    font-weight: 400;
}
.admin .body .right button {
    width: 186px;
    height: 68px;
    border-radius: 14px;
    background: #2ac9bf;
    border: none;
    color: #fff;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 600;
    margin-right: 180px;
}

/* ========Footer====== */
.footer {
    margin-top: 140px;
    padding: 0 0 50px 0;
}
.footer .body {
    display: flex;
    gap: 137px;
    justify-content: center;
}
.footer .body .img {
    width: 127px;
    height: 37px;
}
.footer .body .title {
    color: #2e2e2e;
    font-size: 1.8rem;
    font-weight: 500;
}
.footer .body .item {
    margin-top: 25px;
    display: block;
    color: #535353;
    font-family: Poppins;
    font-size: 1.6rem;
    font-weight: 400;
}
.footer .body div.item {
    display: flex;
    align-items: center;
}
.footer .body div.item span {
    margin-left: 9px;
}
.footer .end {
    color: #b0b5b4;
    font-size: 1.8rem;
    font-weight: 400;
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
